body{
    margin: 0px;
    padding: 0px;
    background-image: url(pngtree-modern-double-color-futuristic-neon-background-image_351866\ \(1\).jpg);
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
input.display{
    border-radius: 25px;
    width: 300px;
    height: 50px;
}
input{
    width: 75px;
    height: 50px;
    font-size: 45px;
    border-radius: 10px;
    margin: 10px;
    background-color: white;
    color: black;
}

.btn:hover{
    background-color: rgb(54, 54, 96);
    cursor: pointer;
}
.cdtn, .cdtn:hover{
    background-color: tomato;
    color: white;
    
}
.cdtn:hover{
        background-color: yellow;
        cursor: pointer;
}
.mbtn, .mbtn:hover{
    background-color: rgba(244, 13, 10, 0.924);
    color: white;
}
.mbtn:hover{
    background-color: rgb(255, 225, 0);
    cursor: pointer;
}
.otps, .otps:hover{
    background-color: blue;
    color: wheat;
}
.otps:hover{
    background-color: rgb(176, 176, 8);
    cursor: pointer;

}